* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.App {
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity 2000ms linear;
  transition: opacity 2000ms linear;
}

.panel {
  width: 100vw;
  height: 100vh;
  position: absolute;
  -webkit-transition: opacity 2000ms linear, top 500ms linear, right 500ms linear, left 500ms linear, bottom 500ms linear;
  transition: opacity 2000ms linear, top 500ms linear, right 500ms linear, left 500ms linear, bottom 500ms linear;
  border: 1px solid black;
  background-color: white;
  overflow: auto;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.panel.top {
  top: -100vh;
  left: 0;
  right: 0;
  background-image: url("../assets/img/feuilles.png");
}

.panel.right {
  top: 0;
  right: -100vw;
  bottom: 0;
  background-image: url("../assets/img/glacier.png");
}

.panel.left {
  top: 0;
  left: -100vw;
  bottom: 0;
  background-image: url("../assets/img/flowers.jpg");
}

.panel.bottom {
  left: 0;
  right: 0;
  bottom: -100vh;
}

.panel.center {
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.panel.active {
  opacity: 1;
}

.panel .panel-content {
  margin: 75px;
}

.arrows {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.arrow {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  z-index: 2000;
  cursor: pointer;
  font-size: 2rem;
  color: blue;
  z-index: 1005;
}

.arrow:hover {
  color: gray;
}

.arrow.right {
  top: calc(50% - 25px);
  right: 0;
}

.arrow.left {
  top: calc(50% - 25px);
  left: 0;
}

.arrow.bottom {
  bottom: 0;
  left: calc(50% - 25px);
}

.arrow.top {
  top: 0;
  left: calc(50% - 25px);
}

.about h1 {
  text-align: center;
  font-size: 3rem;
}

.about .about-content {
  padding: 1rem;
}

.oeuvre {
  width: 100%;
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.oeuvre .oeuvre-video {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000;
}

.oeuvre .oeuvre-video iframe {
  width: 100%;
  height: 540px;
  margin: auto;
  display: block;
  background: black;
}

.oeuvre .oeuvre-infos {
  width: 100%;
  background-color: white;
  margin-bottom: 3rem;
  border: 2px solid white;
}

.oeuvre .oeuvre-title {
  text-align: left;
  font-size: 3rem;
  padding: 1rem;
}

.oeuvre .oeuvre-description {
  padding: 1rem;
  border-top: 1px solid #e3e8e9;
  font-size: 18px;
  text-align: justify;
}

.horloge {
  position: absolute;
  z-index: 1005;
  top: 0;
  right: 0;
  margin: 1rem;
}

.horloge .times {
  display: none;
  background-color: white;
  padding: 0.5rem;
}

.horloge:hover .clock-container {
  display: none;
}

.horloge:hover .times {
  display: block;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.message-container .message {
  height: 100px;
  width: 350px;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */